.catalog {
    display: grid;
    min-height: 800px;
    &_btn {
        display: flex;
        margin-top: 50px;
        &_new, &_popular {
            background: #000AFF;
            width: 166.67px;
            height: 50px;
            border: 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
        }
        &_popular {
            background: #FFFFFF;
            color: rgb(0, 0, 0);
        }
        &_all {
            margin-top: 12px;
            align-items: center;
            font-weight: 400;
            font-size: 18px;
            color: #000000;
        }
    }
    &_product {
        display: grid;
        grid-template-columns: repeat(3, 573.33px);
        margin-top: 50px;
        text-align: center;
        &_block {
            border: 1px solid rgba(128, 128, 128, 0.3);
            &_name {
                text-align: left;
                margin-left: 30px;
                margin-top: 30px;
            }
            &_price {
                display: flex;
                justify-content: space-between;
                margin-left: 30px;
                margin-bottom: 30px;
                &_art {
                    margin-right: 30px;
                }
            }
        }
    }
}